@import "ui-variables";
@import "ui-mixins";

.editor,
.editor.mini,
atom-text-editor,
atom-text-editor[mini] {
  &.is-focused .cursor,
  &::shadow .is-focused .cursor {
    border-width: 0;
    background-color: @background-color-highlight;
    opacity: 1!important;
    z-index: -1;
  }
}

.editor,
atom-text-editor {
  .indent-guide,
  &::shadow .indent-guide {
    color: @background-color-highlight;
  }

  .wrap-guide {
    background-color: @background-color-highlight;
  }

  .selection .region,
  &::shadow .selection .region {
    background-color: @background-color-highlight;
  }

  .find-result .region,
  &::shadow .find-result .region {
    border: 1px solid @text-color-highlight;
    z-index: 2;
  }

  .highlight-selected .region,
  &::shadow .highlight-selected .region {
    border: 1px solid @text-color-highlight;
    z-index: 2;
  }

  .marker.color-highlight .region,
  &::shadow .marker.color-highlight .region {
    border-radius: 0;
  }

  /deep/ ::-webkit-scrollbar-thumb {
    background-color: @background-color-highlight;
  }
}

.editor.mini,
atom-text-editor[mini] {
  color: @text-color-highlight;
  padding-left: @component-padding / 2;

  &.is-focused {
    background-color: @super-duper-dark-gray;
  }
}

