@import "ui-variables";
@import "ui-mixins";

atom-text-editor::shadow {
  ::-webkit-scrollbar-thumb {
    background-color: @background-color-highlight;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background-color: @dark-gray;
  }
}

atom-text-editor[mini] {
  color: @text-color-highlight;
  padding-left: @component-padding / 2;

  &.is-focused {
    background-color: @super-duper-dark-gray;
  }
}
