@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('atom://dark-flat-ui/assets/OpenSans/OpenSans-Light.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('atom://dark-flat-ui/assets/OpenSans/OpenSans-LightItalic.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('atom://dark-flat-ui/assets/OpenSans/OpenSans-Regular.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('atom://dark-flat-ui/assets/OpenSans/OpenSans-Italic.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('atom://dark-flat-ui/assets/OpenSans/OpenSans-Semibold.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url('atom://dark-flat-ui/assets/OpenSans/OpenSans-SemiboldItalic.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('atom://dark-flat-ui/assets/OpenSans/OpenSans-Bold.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('atom://dark-flat-ui/assets/OpenSans/OpenSans-BoldItalic.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url('atom://dark-flat-ui/assets/OpenSans/OpenSans-ExtraBold.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url('atom://dark-flat-ui/assets/OpenSans/OpenSans-ExtraBoldItalic.woff');
}
