@import "ui-variables";
@import "ui-mixins";

.tree-view {
  font-size: @font-size;
  background: @tree-view-background-color;
}

.tree-view-resizer {
  .tree-view-resize-handle {
    width: 8px;
  }
}

.focusable-panel {
  opacity: 1;
  background: @tree-view-background-color;
}
